header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    background-color: rgb(28, 33, 34);
    flex-direction: row;

    img{
      
        height: 10vh;
        margin: 20px;
        
    }
    img:hover{
        transition: 0.5s;
        height: 11vh;
    }

    li{
        list-style: none;
        a{
            
            text-decoration: none;
            color: black;
        }
        
    }
}